Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  modernize-*,
  performance-*,
  readability-*,
  cppcoreguidelines-*,
  -bugprone-exception-escape,
  -modernize-use-trailing-return-type,
  -readability-magic-numbers,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-vararg

WarningsAsErrors: ''

HeaderFilterRegex: '^(src|tests)/.*'

FormatStyle: file